<div class="statement">
  <div><span><%= __('copyright.author') %></span><%- config.author %></div>
  <div><span><%= __('copyright.title') %></span><%- page.title%></div>
  <div><span><%= __('copyright.link') %></span>
    <a href="<%- url_for(page.path) %>"><%- config.url %><%- url_for(page.path) %></a>
  </div>
  <div><span><%= __('copyright.license_title') %></span>本文采用
    <% if (theme.copyright.license.toUpperCase() === "CC BY"){ %>
    <a href="https://creativecommons.org/licenses/by/4.0/deed.zh">CC BY 4.0</a>
    <% } else if (theme.copyright.license.toUpperCase() === "CC BY-SA"){ %>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC BY-SA 4.0</a>
    <% } else if (theme.copyright.license.toUpperCase() === "CC BY-NC"){ %>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh">CC BY-NC 4.0</a>
    <% } else if (theme.copyright.license.toUpperCase() === "CC BY-NC-SA"){ %>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">CC BY-NC-SA 4.0</a>
    <% } else if (theme.copyright.license.toUpperCase() === "CC BY-ND"){ %>
    <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.zh">CC BY-ND 4.0</a>
    <% } else { %>
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">CC BY-NC-ND 4.0</a>
    <% } %>
    进行声明
  </div>
</div>
